{% extends 'base.html' %}
{% block title %}Mycart{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>Items in the cart</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>S.no</th>
                        <th>Product</th>
                        <th>Rate</th>
                        <th>Subtotal</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cp in cart.cartproduct_set.all %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{cp.product.title}}</td>
                        <td>{{cp.rate}}</td>
                        <td>{{cp.subtotal}}</td>
                        <td>
                            <a href="{% url 'youshopweship:managecart' cp.id %}?action=inc" class="btn btn-primary">+</a>
                            <a href="" class="btn btn-primary">{{cp.quantity}}</a>
                            <a href="{% url 'youshopweship:managecart' cp.id %}?action=dcr" class="btn btn-danger">-</a>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th colspan="3" class="text-right">Total</th>
                        <th>Rs. {{cart.total}}</th>
                        {% if cart.cartproduct_set.all %}
                        <th><a href="{% url 'youshopweship:emptycart'%}" class="btn btn-warning">Empty cart</a></th>
                        {% endif %}
                    </tr>
                    <tr>
                        {% if cart.cartproduct_set.all %}
                        <th colspan="2" class="text-right"><a href="{% url 'youshopweship:checkout' %}" class="btn btn-primary"> Checkout </a></th>
                        {% endif %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}